.case{
	
}

.case-top{
	background: #F6F4F2;
	border-radius: 8px;
	padding: 85px 30px;
	margin-bottom: 70px;
}
.case-top__wrap{

}
.case-top__icon{
	margin-bottom: 70px;
	    display: flex;
    justify-content: center;
	img{
		display: block;
		max-width: 100%;
	}
}
.case-top__txt{
	max-width: 1040px;
	margin:0 auto;
	font-size: 36px;
	line-height: 53px;
	text-align: center;
}

.case-pre{
	margin-bottom: 40px;
	
	p{
		&:last-child{
			margin-bottom: 0;
		}
	}
}
.case-pre__in{
	max-width: 770px;
	&.m-middle{
		max-width: 1170px;
	}
	&.m-large{
		max-width: 100%;
	}
}

.case-compare{
	margin-bottom: 40px;
}
.case-compare__title{

}

.case-compare__img{
	img{
		display: block;
		max-width: 100%;
	}
	&.m-right{
		display: flex;
		justify-content: flex-end;
	}
}
.case-compare__wrap{
	margin-bottom: 50px;
	&:last-child{
		margin-bottom: 0;
	}
}

.optimization{
	img{
		max-width: 100%;
	}
	.order__txt{
		max-width: 975px;
		&.m-large{
			max-width: 100%;
		}
	}
	h2{
		margin-bottom: 30px;
	}
	h3{
		margin-bottom: 40px;
	}
}

.optimization-more{
	padding-top: 50px;
}
.optimization-more__item{
	img{
		max-width: 100%;
	}
}

.plan{
	background: #F6F4F2;
	margin-bottom: 70px;
	padding: 80px 0 60px;
	h2{
		margin-bottom: 45px;
	}
	.recommend-slider-wrap{
		padding-left: 0;
		max-width: 1020px;
		&.m-full{
			max-width: 100%;
		}
	}
	.section-list{
		padding-left: 0;
	}
	&.m-image{
		padding-bottom: 0;
	}
	&.m-autodealer{
		padding: 70px 0 120px;
    	margin-bottom: 60px;
		h3{
			margin-bottom: 55px;
		}
		.platform-img {
		    margin-bottom: 53px;
		}
	}
}
.plan-top{
	margin-bottom: 70px;

}
.plan-top__item{
	&.m-j-center{
		display: flex;
		justify-content: center;
		img{
			max-width: 100%;
		}
	}
}
.plan-view{
	img{
		display: block;
		max-width: 100%;
	}
}


.plan__list{
	display: flex;
	flex-wrap:wrap;
	margin-right: -195px;
}
.plan__item{
	width: 33.333%;
	padding-right: 195px;
	position: relative;
	&:before{
		content: "";
		display: inline-block;
		width: 116px;
		height: 32px;
		background: url(../img/svg/a-double.svg) no-repeat;
		position: absolute;
		right: 39px;
		top: 44px;
	}
	&:after{
		content: "soap";
	    display: inline-block;
	    position: absolute;
	    right: 118px;
	    top: 14px;
	    font-size: 18px;
	    line-height: 27px;
	}
	&:last-child{
		&:after,
		&:before{
			display: none;
		}
	}
}
.plan__in{
	width: 100%;
}

.plan__title{
	width: 100%;
	background: #FFFFFF;
	border-radius: 8px;
	text-align: center;
	padding: 27px;
	margin-bottom: 20px;
}

.plan__txt{
	font-size: 18px;
	line-height: 27px;
	p{
		&:last-child{
			margin-bottom: 0;
		}
	}
	
}


.p-roadmap{
	background: #F6F4F2;
	margin-bottom: 70px;
	padding: 65px 0;
	.optimization__msg{
		&:last-child{
			margin-bottom: 0;
		}
	}
	h3{
		margin-bottom: 47px;
	}
}

.p-roadmap__wrap{
	display: flex;
	flex-wrap:wrap;
	margin: 0 -15px;
	padding-top: 55px;
	margin-bottom: 45px;
	justify-content: center;
	&.m-left{
		justify-content: flex-start;
	}
}

.p-roadmap__item{
	width: 265px;
    min-width: 265px;
    max-width: 265px;
    margin-right: 60px;
    margin-bottom: 20px;
}
.p-roadmap__in{
	background: #fff;
    border-radius: 50%;
    text-align: center;
    padding: 20px 23px;
    //min-height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 265px;
}
.p-roadmap__top{

	text-align: center;

	font-family: 'circe-bold';

	color: #E4002B;
	margin-bottom: 12px;
}

.p-roadmap__txt{

}

.essence{
	    margin-bottom: 15px;
    padding: 27px 0 0 135px;
}

.essence__item{
	font-size: 36px;
	line-height: 53px;
	color: #E4002B;
	margin-bottom: 25px;
	&:last-child{
		margin-bottom: 0;
	}
	span{
		color: #141414;
		margin-right: 20px;
	}
}

.cont-sqheme{
	margin-bottom: 60px;
	img{
		display: block;
		max-width: 100%;
	}
}

.dest{
	margin-bottom: 40px;
	background: #F6F4F2;
	padding: 45px 0;
}
.dest__wrap{
	display: flex;
	flex-wrap:wrap;
	max-width: 75%;
}
.dest__item{
	width: 33.333%;

    position: relative;
    padding-left: 55px;
    margin-bottom: 15px;
    &:before{
		content: "";
		display: inline-block;
		width: 23px;
		height: 16px;
		background: url(../img/svg/ser-arr.svg) no-repeat;
		position: absolute;
		left: 7px;
		top: 9px;
    }
}

.class-list{
	.dest__item{
		width: 100%;
	}
}

.team{
	margin-bottom: 40px;
}
.team__wrap{
	display: flex;
	flex-wrap:wrap;
	max-width: 1040px;
}

.team__item{
	width: 33.333%;
	padding-right: 20px;
	margin-bottom: 35px;
}
.team__top{
	font-size: 18px;
	line-height: 27px;
	margin-bottom: 6px;
}
.team__person{
	font-size: 24px;
	line-height: 35px;
	font-family: 'circe-bold';
	&:last-child{
		margin-bottom: 0;
	}
}
.team__line{
	

}

.service-sqheme__img{
	text-align: center;
	img{
		max-width: 100%;
		display: inline-block;
	}
}

.service-sqheme-top{
	display: flex;
	margin-right: -35px;
	margin-bottom: 70px;
	position: relative;
	&:after{
		content: "";
		display: inline-block;
		width: 16px;
		height: 34px;
		background: url(../img/svg/bottom.svg) no-repeat;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: -50px;
	}
}
.service-sqheme-top__item{
	width: 33.333%;
	padding-right: 35px;
}
.service-sqheme-top__in{
	width: 100%;
	background: #F6F4F2;
	border-radius: 8px;
	padding: 30px;
	text-align: center;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.k-sqheme{
	position: relative;
	img{
		max-width: 100%;
		display: block;
	}
}

.k-sqheme__msg{
	width: calc(66.666% - 10px);

	background: #FFFFFF;
    border: 3px dashed #E4002B;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 30px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
    p{
    	&:last-child{
    		margin-bottom: 0;
    	}
    }
}


.link-case__in{
	position: relative;
	padding: 50px 0;
	color: #fff;
	margin-bottom: 100px;
	&.m-vw{
		background: linear-gradient(90deg, #001E50 0.71%, #3963AA 100%);
		border-radius: 8px;
	}
}

.link-case__title{
	max-width: 1040px;
	font-size: 64px;
	line-height: 1.1;
	font-family: 'circe-bold';
}

.link-case__btn{
	display: inline-block;
	margin-bottom: 20px;
	background: #0099DC;
	color: #fff;
	padding: 5px 30px;
}
.link-case__img{
	position: absolute;
	right: 0;
	bottom: 0;
	img{
		max-width: 100%;
	}
}


.template{
	margin-bottom: 70px;
	.order__txt{
		max-width: 975px;
		&.m-full{
			max-width: 100%;
			width: 100%;
			text-align: center;
			padding: 85px;
		}
	}
}
.order__txt__in{
	max-width: 1045px;
    font-size: 36px;
    margin: 0 auto;
}
.template__wrap{
	display: flex;
	margin-bottom: 70px;
	&:last-child{
		margin-bottom: 0;
	}
	&.m-half{
		.template__info{
			width: 50%;
			min-width: 50%;
		}
	}
	&.row{
		.template__info{
			width: auto;
			min-width: auto;
		}
	}
}
.template__info{
	width: 400px;
	min-width: 400px;
	padding-right: 40px;
	&.m-lg{
		width: 505px;
		min-width: 505px;
		padding-right: 0;
		margin-right: 160px;
	}
}
.template__img{
	flex:1;

	img{
		display: block;
		max-width: 100%;
	}
}
.template__img__item{
	margin-bottom: 65px;
	&:last-child{
		margin-bottom: 0;
	}
	img{
		max-width: 100%;
	}
	&.m-centered{
		display: flex;
		justify-content: center;;
	}
}
.plan-images{
	img{
		display: block;
		max-width: 100%;
	}
}



.img-inset{
	margin-bottom: 20px;
	&:last-child{
		margin-bottom: 0;
	}
	img{
		display: block;
		max-width: 100%;
	}
}

.plan{
	&.m-style{
		position: relative;
		&:after{
			content: "";
			display: inline-block;
			width: 882px;
			height: 641px;
			position: absolute;
			bottom: -110px;
			right: 0;
			background: url(../img/content/style-aft.png) no-repeat;
			background-size: cover;
		}
		.plan-top__item{
			position: relative;
			z-index: 1;
		}
	}
}


.template__info__item{
	margin-bottom: 40px;
	&:last-child{
		margin-bottom: 0;
	}
}


.order{
	display: flex;
	align-items: center;
	padding-top: 25px;
}
.order__count{
	width: 400px;
	min-width: 400px;
	padding-right: 20px;
	font-size: 96px;
	line-height: 78px;
	position: relative;
	padding-left: 35px;
	span{
		display: block;
		font-size: 24px;
		line-height: 35px;
	}
	&:before{
		content: "";
		position: absolute;
		width: 162px;
		height: 162px;
		left: 0;
		top: 50%;
    	transform: translateY(-50%);
		background: #F6F4F2;
		border-radius: 50%;
	}
}

.order__txt{
    background: #FFFFFF;
    border: 3px dashed #E4002B;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 30px;
	&.m-short{
		max-width: inherit;
		width: auto;
		display: inline-flex;
	}
}

.order__count__in{
	position: relative;
	z-index: 2;
}

.structure{
	padding: 65px 0 0;
	margin-bottom: 45px;
	background: #E6EEF2;
}
.structure__sqheme{
	text-align: center;
	img{
		display: inline-block;
		max-width: 100%;
	}
}
.dest-list{
	padding: 30px 0;
}
.red{
	color: #E4002B;
}

.another{
	display: flex;
	align-items: center;
}

.another__count{
	width: 162px;
	min-width: 162px;
	height: 162px;
	border-radius: 50%;
	background: #F6F4F2;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 60px;
}
.another__count__in{
	font-size: 96px;
	line-height: 60px;
	span{
		display: block;
		font-size: 24px;
		line-height: 24px;
	}
}
.another__txt{
	max-width: 770px;
}

.plan-txt{
	margin-bottom: 40px;
}
.plan-txt__item{
	h4{
		margin-bottom: 33px;
	}
}

.arrow-top{
	overflow: hidden;
	position: relative;
	margin-bottom: 20px;
	h4{
		display: inline-block;
		position: relative;
		margin-bottom: 0;
		&:after{
			content: "";
			display: block;
			background: #E4002B;
			height: 2px;
			width: 500%;
			position: absolute;
			left: calc(100% + 20px);
			top: 50%;
			margin-top: -1px;
		}
	}
	&:before{
		content: "";
	    display: inline-block;
	    width: 23px;
	    height: 16px;
	    background: url(../img/svg/ser-arr.svg) no-repeat;
	    position: absolute;
	    right: 0;
	    top: 50%;
	    transform: translateY(-50%);
	}
}

.m-center{
	align-items: center;
}

.p-roadmap__week{
	padding-top: 30px;
	text-align: center;
}

.template__img__items{
	display: flex;
}

.design__wrap{
	&.m-double{
		.design__item{
			width: 50%;
		}
	}
}

.templates-centered{
	display: flex;
	justify-content: center;
	margin: 0 -200px 20px -100px;
}
.templates-centered__item{
	padding-right: 100px;
    flex-grow: 1;
    flex-basis: 33%;
	// &:last-child{
	// 	padding-right: 0;
	// }
	img{
		max-width: 100%;
	}
}

.img-complex{
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
}
.img-complex__item{
	img{
		display: block;
		max-width: 100%;
	}
}

.public__top{
	background: #FFFFFF;
    border: 3px dashed #E4002B;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 30px;
    max-width: 900px;
    margin: 0 auto 75px;
	.design__item{
		width: auto;
	}
	.design__icon {
	    width: 171px;
	    min-width: 171px;
	    margin-right: 15px;

	    align-items: flex-start;
	    flex-direction: row;
	    img{
	    	order: 2;
    		margin-left: 10px;
	    }
	}
}

.public-sqheme{
	display: flex;
	align-items: center;
}
.public-sqheme__img{
	margin-right: 215px;
	position: relative;
	img{
		max-width: 100%;
	}
	&:after {
	    content: "";
	    display: block;
	    background: #E4002B;
	    height: 2px;
	    width: 180px;
	    position: absolute;
	    left: calc(100% + 18px);
	    top: 50%;
	    margin-top: -1px;
	}
	&:before {
	    content: "";
	    display: inline-block;
	    width: 23px;
	    height: 16px;
	    background: url(../img/svg/ser-arr.svg) no-repeat;
	    position: absolute;
	    left: calc(100% + 180px);
	    top: 50%;
	    transform: translateY(-50%);
	}
}

.public-sqheme__list{
	
	padding: 16px 22px;
	background: #FFFFFF;
    border: 3px dashed #E4002B;
    border-radius: 8px;
    max-width: 750px;
}
.public-sqheme__list__in{
	display: flex;
	flex-wrap:wrap;
	margin-right: -30px;
}
.public-sqheme__list__top{
	color: #E4002B;
	margin-bottom: 13px;
	
}


.public-sqheme__list__item{
	padding-right: 30px;
	width: 50%;
	margin-bottom: 30px;
	span{
		display: block;
		padding: 27px 48px;
		background: #F6F4F2;
		border-radius: 8px;
		text-align: center;
	}
}

.platform-img{
	margin-bottom: 30px;
	img{
		display: block;
		max-width: 100%;
	}
}

.plan{
	.order__txt{
		max-width: 975px;
	}
}

.order__txt{
	&.m-lg{
		max-width: 1035px;
	}
}
.plan-top{
	&.m-center{
		justify-content: center;
		    align-items: flex-start;
	}
}

.load-img{
	margin-bottom: 30px;
	img{
		max-width: 100%;
		display: block;
	}
}

.rest-slider__inner{
	display: flex;
	width: 100%;
}
.rest-col{
	&.m-lg{
		width: 60%;
		padding-right: 16px;
	}
	&.m-xs{
		width: 40%;
		padding-left: 16px;
		// margin-bottom: -32px;
		.rest-col__item{
			padding-bottom: 32px;
			// height: 50%;
			&:last-child{
				padding-bottom: 0;
			}
		}
	}
}
.rest-col__item{
	img{
		max-width: 100%;
		max-height: 100%;
		display: block;
	}
}


.rest-slider{
	overflow: hidden;
	.slick-dots{
		// margin: 42px 0 0 0;
	    padding: 0;
	    display: flex;
	    list-style-type: none;
		li{
			width: 16px;
			height: 16px;
			border-radius: 50%;
			border: 3px solid #F6F4F2;
			background: #C5CDCF;
			margin-right: 4px;
			cursor:pointer;
			transition: background .3s ease;
			&:last-child{
				margin-right: 0;
			}
			&.slick-active{
				background: #141414;
				border: 3px solid #141414;
			}
			&:hover{
				background: #141414;
			}
			button{
				display: none;
			}
		}
	}
}


.ecosystem{
	max-width: 625px;
	margin: 0 auto;
}
.ecosystem__top{
	width: 247px;
	max-width: 247px;
	height: 124px;
	background: #F6F4F2;
	border-radius: 8px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin: 0 auto 65px;
	&:after{
		content: "";
		display: inline-block;
		width: 16px;
		height: 38px;
		background: url(../img/svg/b-arr.svg) no-repeat;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: -50px; 
	}
}
.ecosystem__title{
	color: #E4002B;
	text-align: center;
	margin-bottom: 13px;
}
.ecosystem__wrap{
	border: 3px dashed #E4002B;
	border-radius: 8px;
	width: 100%;
	padding: 20px 20px 5px;
}
.ecosystem__list{
	display: flex;
	flex-wrap:wrap;
	margin-right: -17px;
}
.ecosystem__item{
	width: 33.333%;
	padding-right: 17px;
	margin-bottom: 17px;
}
.ecosystem__in{
	background: #F6F4F2;
	border-radius: 8px;
	width: 100%;
	height: 100%;
	padding: 27px;
	min-height: 89px;
	text-align: center;
}


.blocks{
	ol{
		margin: 0;
	    margin-bottom: 20px;
	    padding: 0;
	    counter-reset: list_2;
		li{
			list-style-type: none;
		    padding-left: 56px;
		    position: relative;
		    margin-bottom: 15px;
		    font-size: 18px;
		    line-height: 27px;
		    &:before{
				counter-increment: list_2;
				content: counters(list_2, ".");
				position: absolute;
				left: 2px;
    			top: 1px;
				color: #fff;
				font-size: 18px;
				line-height: 1;
				width: 27px;
				min-width: 27px;
				color: #E4002B;
				border-radius: 3px;
				text-align: left; 
				height: 27px;
				display: flex;
				align-items: center;
				justify-content: center;
		    }
		    &:last-child{
		    	margin-bottom: 0;
		    }
		}
	}
}
.blocks-img{
	img{
		display: block;
		max-width: 100%;
	}
}
.blocks-img__item{
	margin-bottom: 50px;
	&:last-child{
		margin-bottom: 0;
	}
}


.blocks-txt{

}


.m-dealer{
	.ecosystem__top {
	    width: 150px;
	    max-width: 150px;
	    height: auto;
	    background: transparent;
	    border-radius: 0;
	}
	.ecosystem__title{
		text-align: left;	
	}
	.ecosystem__wrap{
		background: #fff;
	}
	.ecosystem__item{
		width: auto;
	}
}

.m-dealer__txt{
	padding-top: 130px;
}


.road-list{
	font-size: 24px;
    line-height: 28px;
    padding-top: 30px;
    margin-bottom: 20px;
	ol{
		margin: 0;
	    margin-bottom: 20px;
	    padding: 0;
	    counter-reset: list_2;
	    columns: 2;
		li{
			list-style-type: none;
		    padding-left: 56px;
		    position: relative;
		    margin-bottom: 15px;
		    &:before{
				counter-increment: list_2;
				content: counters(list_2, ".");
				position: absolute;
				left: 2px;
    			top: 0;
				color: #fff;
				font-size: 24px;
				line-height: 1;
				width: 27px;
				min-width: 27px;
				color: #E4002B;
				border-radius: 3px;
				text-align: left; 
				height: 27px;
				display: flex;
				align-items: center;
				justify-content: center;
		    }
		    &:last-child{
		    	margin-bottom: 0;
		    }
		}
	}
}


.smart__item{
	margin-bottom: 55px;
	&:last-child{
		margin-bottom: 0;
	}
}

.smart__top{
	font-weight: bold;
	color: #E4002B;
	margin-bottom: 30px;
}
.smart__txt{
	font-size: 96px;
	line-height: 78px;
}

.total-item{
	margin-bottom: 20px;
	&:last-child{
		margin-bottom: 0;
	}
	span{
		color: #ccc;
	}
}
.m-total{
	margin-bottom: 70px;
	.optimization-more{
		    align-items: flex-start;
	}
}
.optimization-middle{
	position: relative;
	&:before{
		content: "";
		display: inline-block;
		width: 181px;
		height: 16px;
		position: absolute;
		top: 50%;
		right: 100%;
    	margin-top: 60px;
		transform: translateY(-50%);
		background: url(../img/svg/t-prev.svg) no-repeat;
		background-size: contain;
	}
	&:after{
		content: "";
		display: inline-block;
		width: 181px;
		height: 16px;
		position: absolute;
		top: 50%;
		left: calc(100% - 200px);
    	margin-top: 60px;
		transform: translateY(-50%);
		background: url(../img/svg/t-next.svg) no-repeat;
		background-size: contain;
	}
}



.case-compare__item{
	margin-bottom: 40px;
}
.case-compare__under{
	padding-top: 50px;
}
.template-outwards-wrap{
	margin-bottom: 70px;
}
.template-outwards{
	display: flex;
	padding-top: 39px;
}
.template-outwards__item{
	padding-right: 25px;
	img{
		display: block;
	}
}
.template-half-wrap{
	margin-bottom: 70px;
}

.optimization-more__item.m-centered {
    display: flex;
	flex-direction: column;
    align-items:center;
}
.item-link{
	color: #939393;
	padding-top: 35px;
	display: inline-block;
}

.template-image-single{
	text-align: center;
	padding-top: 35px;
	img{
		display: inline-block;
		max-width: 100%;
	}
}
.t-nowrap{
	min-width: 100%;
}

.template__wrap{
	&.m-proto{
		display: block;
		.template-outwards {
			margin-left: -40px;
		}
		.template-outwards__item{
			padding:0;
		}
	}
}


.template-slider{
	// padding-right: 77px;
	padding-top: 50px;
	position: relative;
	.slick-list{
		overflow: visible;
		margin:0 -25px;
	}
	.slick-dots{
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: flex-end;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		li{
			width: 10px;
			height: 10px;
			background: #C5CDCF;
			border-radius: 50%;
			list-style-type: none;
			margin-right: 10px;
			cursor: pointer;
			&:last-child{
				margin-right: 0;
			}
			button{
				display: none;
			}
			&:before{
				display: none;
			}
			&.slick-active{
				background: #000;
				transform: scale(1.5);
			}
		}
	}
}
.template-slider__item{
	padding: 0 25px;
	img{
		display: block;
		max-width: 100%;
	}
}