.page-header{
	margin-bottom: 70px;
}

.page-header__wrap{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}
.top-logo{
	display: inline-block;
	width: 39px;
	height: 42px;
	background: url(../img/svg/logo.svg) no-repeat;
	position: relative;
	z-index: 15;
}


.top-nav{
	display: flex;
	align-items: center;
	&.active{
		display: flex;
		flex-direction: column;
		    align-items: flex-start;
	}
}
.top-nav__item{
	color: #E4002B;
	font-size: 24px;
	margin-right: 30px;
	&:last-child{
		margin-right: 0;
	}
}



.menu-btn{
	display: none;
	position: relative;
	z-index: 8;
	&.active{
		.burger-icon {
		    background-color: transparent;
		    &:before{
				transform: translateY(8px) rotate(45deg);
		    }
		    &:after{
				transform: translateY(-8px) rotate(-45deg);
		    }
		}
	}
}
.burger-icon {
	display: block;
	position: relative;
	margin-top: 8px;
	margin-bottom: 8px;
	width: 30px;
	height: 3px;
	background-color: #E4002B;
	transition: all 0.3s ease;
	&:before,
	&:after{
		display: block;
		width: 30px;
		height: 3px;
		background-color: #E4002B;
		transition: all 0.3s ease;
		position: absolute;
		content: "";
	}
	&:before{
		top: -8px;
	}
	&:after{
		top: 8px;
	}
}