<footer class="page-footer">
	<div class="container-fluid">
		<div class="indent">
			<div class="page-footer__wrap">
				<div class="page-footer__view">
					<nav class="page-footer__nav">
						<div class="page-footer__item">
							<a href="/cases/" class="page-footer__link">Кейсы</a>
						</div>
						<div class="page-footer__item">
							<a href="/company/" class="page-footer__link">Компания</a>
							<div class="page-footer-sub">
								<a href="/company/about/" class="page-footer-sub__link">О нас</a>
								<a href="/company/processes/" class="page-footer-sub__link">Как мы ведем проекты</a>
								<a href="/company/news/" class="page-footer-sub__link">Новости</a>
								<a href="/company/blog/" class="page-footer-sub__link">Блог</a>
							</div>
						</div>
						<div class="page-footer__item">
							<a href="/services/" class="page-footer__link">Услуги</a>
							<div class="page-footer-sub">
								<a href="/services/ecommerce-consulting/" class="page-footer-sub__link">e-Commerce консалтинг</a>
								<a href="/services/development/" class="page-footer-sub__link">Разработка интернет-магазина</a>
								<a href="/services/analytics/" class="page-footer-sub__link">Настройка аналитики</a>
								<a href="/services/email-marketing/" class="page-footer-sub__link">Емейл -маркетинг</a>
								<a href="/services/support/" class="page-footer-sub__link">Техническая поддержка</a>
							</div>
						</div>
						<div class="page-footer__item">
							<a href="/industries/" class="page-footer__link">Отрасли</a>
							<div class="page-footer-sub">
								<a href="/industries/auto/" class="page-footer-sub__link">Автодилеры</a>
								<a href="/industries/finance/" class="page-footer-sub__link">Финансы</a>
								<a href="/industries/retail/" class="page-footer-sub__link">Ритейл</a>
								<a href="/industries/telecom/" class="page-footer-sub__link">Телеком</a>
							</div>
						</div>
						<div class="page-footer__item">
							<a href="/e-commerce/" class="page-footer__link">Преимущества</a>
						</div>
						<div class="page-footer__item">
							<a href="mailto:info@nineseven.ru?subject=Заявка%20на%20разработку" class="page-footer__link">info@nineseven.ru</a>
						</div>
					</nav>
					<div class="page-footer__b">
						<div class="copyright">
							&copy; 2010 – 2020 Nineseven. Минск, Тимирязева 72/1
						</div>
						<div class="page-footer__add">
							<a href="img/svg/logo.svg" class="presentation" download>
								Перезентация компании
							</a>
							<a href="http://www.youtube.com/embed/Xzk_U9E9jQU?&autoplay=1" class="show-link js-play-btn">
								Шоурил 2019 – 2020
							</a>
						</div>
					</div>
				</div>
				<div class="page-footer-socials">
					<div class="page-footer-socials__title">Следуйте за нами</div>
					<div class="page-footer-socials__wrap">
						<a href="#" class="page-footer-socials__item m-fb"><span></span></a>
						<a href="#" class="page-footer-socials__item m-insta"><span></span></a>		
						<a href="#" class="page-footer-socials__item m-tg"><span></span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>