<header class="page-header">
	<div class="container-fluid">
		<div class="page-header__wrap">
			<a href="#" class="top-logo m-index">
                <span class="top-logo-msg">E-commerce agency</span>
            </a>
			<a href="#" class="menu-btn">
				<span class="burger-icon"></span>
			</a>
			<nav class="top-nav">
				<div class="top-nav__item">
					<a href="#" class="top-nav__link">Кейсы</a>
					<div class="top-nav-toggle"></div>
				</div>
				<div class="top-nav__item m-sub active">
					<span class="top-nav__link">Компания</span>
					<div class="top-nav-toggle"></div>
					<div class="submenu">
						<a href="#" class="submenu__link">Новости</a>
						<a href="#" class="submenu__link">Блог</a>
					</div>
				</div>
				<div class="top-nav__item m-sub">
					<a href="#" class="top-nav__link">Услуги</a>
					<div class="top-nav-toggle"></div>
					<div class="submenu">
						<a href="#" class="submenu__link">Дизайн</a>
						<a href="#" class="submenu__link">Программирование</a>
						<a href="#" class="submenu__link">Интеграции</a>
					</div>
				</div>
				<div class="top-nav__item">
					<a href="#" class="top-nav__link">Почему еком?</a>
					<div class="top-nav-toggle"></div>
				</div>
				<div class="top-nav__item">
					<a href="mailto:info@nineseven.ru?subject=Заявка%20на%20разработку" class="top-nav__link">info@nineseven.ru</a>
				</div>
			</nav>
		</div>
	</div>
</header>