.page-footer{
	flex-shrink: 0;
	padding: 44px 0 70px;
	background: #E4002B;
	font-size: 24px;
}

.page-footer__wrap{
	display: flex;
	justify-content: space-between;
}

.page-footer__view{

}



.page-footer-socials{
	display: flex;
}

.page-footer-socials__item{
	width: 26px;
	height: 26px;
	margin-right: 25px;
	transition: background .3s ease;
	position: relative;
	&:last-child{
		margin-right: 0;
	}
	&.m-insta{
		span{
			background: url(../img/svg/insta.svg) center no-repeat;
		}
		&:hover{
			span{
				background: url(../img/svg/insta.svg) center no-repeat;
			}
			&:after{
				opacity: 1;
				visibility: visible;
				transform: translateY(-50%) scale(1);
			}
		}
	}
	&.m-fb{
		span{
			background: url(../img/svg/fb.svg) center no-repeat;
		}
		&:hover{
			span{
				background: url(../img/svg/fb.svg) center no-repeat;
			}
			&:after{
				opacity: 1;
				visibility: visible;
				transform: translateY(-50%) scale(1);
			}
		}
	}
	&:after{
	    content: "";
	    display: block;
	    width: 72px;
	    height: 72px;
	    background: #fff;
	    border-radius: 50%;
	    position: absolute;
	    left: -23px;
	    top: 50%;
	    transform: translateY(-50%) scale(0);
	    z-index: 0;
	    opacity: 0;
	    visibility: hidden;
	    transition: all .15s ease;
	}
	span{
		position: relative;
		z-index: 2;
		display: block;
		width: 100%;
		height: 100%;
	}
}

.page-footer__nav{
	display: flex;
	flex-wrap:wrap;
	margin-bottom: 26px;
}
.page-footer__link{
	color: #fff;
	font-size: 24px;
	line-height: 35px;
	font-family: 'circe-bold';
	margin-right: 40px;
	margin-bottom: 20px;
	transition: color .3s ease;
	&:last-child{
		margin-right: 0;
	}
	&:hover{
		color: #000;
	}
}
.page-footer__b{
	display: flex;
	align-items: flex-end;
}

.copyright{
	font-size: 24px;
	line-height: 35px;
	font-family: 'circe-bold';
	margin-right: 110px;
}

.presentation{
	font-size: 18px;
    line-height: 27px;
    color: #141414;
    margin-right: 41px;
    position: relative;
    padding-left: 57px;
    max-width: 181px;
    display: inline-block;
	&:before{
		content: "";
		display: inline-block;
		width: 40px;
		height: 49px;
		background: url(../img/svg/pdf-i.svg) no-repeat;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
	}
	&:after{
		content: "";
		display: block;
		width: 72px;
		height: 72px;
		background: #fff;
		border-radius: 50%;
		position: absolute;
		left: -16px;
    	margin-top: -3px;
		top: 50%;
		transform: translateY(-50%) scale(0);
		z-index: 0;
		opacity: 0;
		visibility: hidden;
		transition: all .15s ease;
	}
	&:hover{
		&:after{
			transform: translateY(-50%) scale(1);
			opacity: 1;
			visibility: visible;
		}
	}
}

.show-link{
	font-size: 18px;
    line-height: 27px;
    color: #141414;
    margin-right: 47px;
    position: relative;
    padding-left: 64px;
    max-width: 165px;
    display: inline-block;
	&:before{
		content: "";
		display: inline-block;
		width: 50px;
		height: 50px;
		background: url(../img/svg/pl.svg) 16px 14px no-repeat;
		position: absolute;
		left: 0;
		top: 0;
		border: 2px solid #000;
		border-radius: 50%;
		z-index: 1;
	}
	&:after{
		content: "";
		display: block;
		width: 72px;
		height: 72px;
		background: #fff;
		border-radius: 50%;
		position: absolute;
		left: -12px;
    	margin-top: -2px;
		top: 50%;
		transform: translateY(-50%) scale(0);
		z-index: 0;
		opacity: 0;
		visibility: hidden;
		transition: all .15s ease;
	}
	&:hover{
		&:after{
			transform: translateY(-50%) scale(1);
			opacity: 1;
			visibility: visible;
		}
	}
}


.page-footer__item{
	margin-right: 40px;
	margin-bottom: 20px;
	line-height: 1;
	.page-footer__link{
		margin: 0;
		padding: 0;
	}
}
.page-footer-sub{
	padding-top: 6px;
}
.page-footer-sub__link{
	font-size: 20px;
	color: #fff;
	display: block;
	margin-bottom: 14px;
	transition: color .3s ease;
	&:last-child{
		margin-bottom: 0;
	}
	&:hover{
		color: #000;
	}
}