
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   
}

@media only screen and (-webkit-min-device-pixel-ratio: 0) {

}


//MEDIA
@media screen and (max-width: 1920px){
	.cases-toggle__item{
		font-size: 20px;
		margin-right: 10px;
		&:last-child{
			margin-right: 0;
		}
	}
}

@media screen and (max-width: 1800px){
	.process-view__item {
	    font-size: 20px;
	    line-height: 24px;
	}
	.process-view__analitic .process-view__item:after,
	.process-view__design .process-view__item:after,
	.process-view__design:before,
	.process-view__start:before,
	.process-view__start .process-view__item:after{
	    width: 25px;
	    height: 6px;
	}
	.process-view__design .process-view__item:after{
		top: 5px;
	}
	.process-view__design:before {
	    margin-top: 4px;
	    transform: rotate(180deg) translate(-9px, 50%);
	}
	.process-view__start:before {
	    margin-top: 7px;
	    transform: translate(11px, -50%);
	}
	.process__info {
	    margin-right: 50px;
	}
	.process-view__develop:after {
	    -webkit-transform: translate(23px, -69px);
	    -ms-transform: translate(23px, -69px);
	    transform: translate(5px, -50px);
	    width: 50px;
	    height: 104px;
	}
	.process-view__analitic,
	.process-view__develop{
		padding: 15px; 
	}
	.process-view__design{

	}
	.process-view__start,
	.process-view__design{
	    padding: 15px 15px 15px 30px;
	}
	.process-view__analitic:after {
	    width: 50px;
	    height: 104px;
	    transform: translate(-10px, 5px);
	}
	.process-view__develop .process-view__list {
	    padding-left: 70px;
	    height: calc(100% - 70px);
	}
	.services-title {
	    font-size: 30px;
	}
	.services-el {
	    margin-bottom: 10px;
	}
	.recommend-slider-wrap {
	    padding-left: 60px;
	}

	.page-work__title {
	    font-size: 24px;
	    &.m-lg{
			font-size: 28px;
		}
	}
	.price__count {
	    font-size: 60px;
	    line-height: 1;
	}
	.price__item {
	    align-items: flex-end;
	}
	.price {
	    padding: 35px 0;
	}

	.methodology-bottom__item.m-stage {
	    min-width: 490px;
	    min-height: 460px;
	    padding-bottom: 0;
	    &:after{
		    width: 490px;
		    height: 460px;
	    }
	}
	.stage-inner {
	    max-width: 280px;
		position: relative;
		left: -20px;
	}
	.stage__title {
	    font-size: 20px;
	    margin-bottom: 20px;
	}
	.methodology__txt {
	    font-size: 18px;
	    line-height: 22px;
	}
	.methodology-bottom__item{
		padding-bottom: 40px;
	}
	.methodology-top__item {
	    font-size: 20px;
	    line-height: 24px;
	}
	.methodology-bottom {
	    margin-top: -190px;
	}
	.analysis__add {
	    font-size: 28px;
	    line-height: 45px;
	    width: auto;
	    flex: 1;
	    padding-left: 30px;
	}
	.p-roadmap__txt {
	    font-size: 18px;
	    line-height: 1.4;
	}
	.workarea h3.services-title{
		font-size: 30px;
	}
	.design h3.services-title {
	    font-size: 76px;
	    line-height: 65px;
	}
	.section-toggle__num{
		font-size: 800px;
	}
	.p-roadmap__image {
		margin-top: -190px;
	}
}

@media screen and (max-width: 1700px){
	.industries__txt {
		max-width: 820px;
	}
	.infogr__img {
		margin-top: -175px;
	}
}

@media screen and (max-width: 1600px){
	.top-logo-msg {
		margin-left: 105px;
	}
	.price__txt {
	    font-size: 20px;
	    line-height: 24px;
	    max-width: 155px;
	}
	.price__count {
	    font-size: 45px;
	    line-height: 1;
	}
	.k-sqheme__msg {
	    font-size: 20px;
	    line-height: 22px;
	}
	.link-case__img {
	    width: 260px;
	}
	.cases__title {
	    font-size: 40px;
	}
	.cases__in{
		min-height: 360px;
    	padding-bottom: 100px;
	}
	.cases-toggle__item{
		padding: 8px 10px;
	}
	.news-in{
		padding-right: 0;
	}
	.news-in-media{
		padding-right: 0;
	}
	.industries__cat {
		font-size: 80px;
	}
	.industries__txt{
		top: 110px;
		max-width: 650px;
	}
	.plan.m-optimal .plan-top__item:last-child:before {
		left: -25px;
	}
	.s-settings {
		padding: 30px 65px 0;
	}
}

@media screen and (max-width: 1550px){
	.section-toggle__num {
	    font-size: 825px;
	}
	.plan.m-optimal .plan-top__item:last-child{
		padding-left: 75px;
	}
	.plan.m-optimal .plan-top__item:last-child:before {
		left: -65px;
	}
	.optimal-img__item{
		width: 300px;
		img{
			max-width: 100%;
		}
	}
	.d-serv__pos {
		font-size: inherit;
	}
}

@media screen and (max-width: 1500px){
	.p-roadmap__image {
		margin-top: -120px;
	}
}

@media screen and (max-width: 1450px){
	.news-cutting{
		width: 100%;
	}
	.recommend-slider__txt {
	    font-size: 20px;
	    line-height: 26px;
	}
	.services-link:after {
	    width: 45px;
	    height: 45px;
	    background: #141414 url(../img/svg/s-arr.svg) -7px center no-repeat;
	    background-size: contain;
	    right: 10px;
	    bottom: 10px;
	}
	.services-link:hover:after {
	    background: #E4002B url(../img/svg/s-arr.svg) -7px center no-repeat;
	    background-size: contain;
	}
	.services-link{
		padding: 15px;
	}
	.services-info {
	    padding-right: 45px;
	}
	.design.m-index{
		padding: 40px 0;
		.services-link {
		    padding: 0;
		}
		.section-prev {
		    width: 300px;
		    min-width: 300px;
		}
		.work__link{
			font-size: 16px;
		}
		.design.m-index .services-info {
		    padding-right: 55px;
		}
		.services-list {
		    align-items: flex-start;
		}
	}

	.copyright {
	    font-size: 20px;
	    line-height: 26px;
	    margin-right: 60px;
	}
	.page-footer__link {
	    font-size: 20px;
	    line-height: 26px;
	}
	.section-toggle__num {
	    font-size: 774px;
    	line-height: 0.91;
	}
	.design h3.services-title {
	    font-size: 65px;
	    line-height: 50px;
	}
	.blog-item.m-complex .blog-in {
		padding-right: 20px;
	}
	.index-news__txt {
		font-size: inherit;
	}
	.techno__pre .get-in {
		right: -115px;
	}
	.modern-more-mess {
		padding: 20px;
	}
}

@media screen and (max-width: 1400px){
	.industries__txt {
		max-width: 520px;
	}
	.propose {
	    padding: 15px 12px 15px 65px;
	    font-size: 20px;
	    line-height: 24px;
	    &:before{
			width: 40px;
			height: 40px;
	    }
	}
	.sentence-project__num {
	    font-size: 65px;
	}
	.sentence-project__info {
	    font-size: 20px;
	    line-height: 24px;
	}
	.work__list {
	    padding-left: 40px;
	}
	.process__info {
	    margin-right: 20px;
	}

	.methodology-bottom__item.m-stage {
	    min-width: 400px;
	    min-height: 380px;
	    padding-bottom: 0;
	}
	.methodology-top__item:first-child {
	    max-width: 33%;
	}
	.methodology-bottom__item.m-stage:after {
	    width: 400px;
	    height: 380px;
	}
	.stage-inner {
	    max-width: 240px;
	}
	.analysis__item {
	    font-size: 20px;
	    line-height: 24px;
	}
	.analysis__item:before{
		top: 4px;
	}
	.analysis__list {
	    width: 650px;
	    min-width: 650px;
	}
	.optimization__in {
	    padding: 15px;
	    font-size: 18px;
	    line-height: 22px;
	}
	.plan__title {
	    font-size: 20px;
	    line-height: 24px;
	    padding: 15px;

	}
	.plan__item:before {
	    top: 15px;
	}
	.plan__item:after{
		top: 0;
	}
	.dest__wrap{
		max-width: 100%;
	}
	.link-case__title {
	    font-size: 46px;
	}
	.public-sqheme__list__item {
	    font-size: 18px;
	    line-height: 24px;
	    padding-right: 15px;
	}
	.public-sqheme__list__in{
		margin-right: -15px;
	}
	.public-sqheme__list {
	    max-width: 630px;
	}
	.public-sqheme__img{
		margin-right: 100px;
		&:before{
			left: calc(100% + 60px);
		}
		&:after{
			width: 45px;
		}
	}
	.cases__title {
	    font-size: 28px;
	}
	.cases__in {
	    min-height: 300px;
	}
	.destination__title {
	    font-size: 30px;
	    line-height: 36px;
	}
	.destination__in {
	    padding: 20px 25px 15px 25px;
	}
	.cases-toggle__item {
	    padding: 6px 7px;
	    font-size: 18px;
	}
	.p-news__title {
	    font-size: 26px;
	}
	.index-news__msg {
		font-size: 170px;
	}
	.index-top {
		padding: 40px;
		.indent{
			padding-left: 0;
			padding-right: 0;
		}
	}
	.index-top-slider-view__title {
		font-size: 44px;
	}
	.index-top-services__title {
		font-size: 30px;
	}
	.cases-index.m-right{
		padding-left: 0;
	}
	.cases-index.m-left{
		padding-right: 0;
	}
	.index-top__wrap{
		padding-left: 0;
	}
	.audit-slider__txt {
		font-size: 28px;
	}
	.cases__title.m-xs{
		font-size: 28px;
	}
	.infogr__img {
		margin-top: -110px;
	}
	.infogr__pre {
		width: 410px;
	}
}


@media screen and (max-width: 1350px){
	.t-benefits__img {
		height: 300px;
	}
	.d-serv-wrap{
		padding:0;
	}
	.method__img {
		min-height: 430px;
	}
}

@media screen and (max-width: 1320px){
	.industries-slider {
		padding-left: 135px;
	}
}

@media screen and (max-width: 1300px){
	.top-logo-msg {
		margin-left: 80px;
	}s
	.k-sqheme__msg {
	    font-size: 18px;
	    line-height: 22px;
	    padding: 15px;
	}
	.plan.m-style:after {
	    width: 50%;
	    height: 50%;
	}
	.order__txt{
	    padding: 15px;
	}
	.page-footer__b{
		flex-wrap:wrap;
	}
	.copyright{
		width: 100%;
		
		order: 2;
	}
	.page-footer__add{
		order: 1;
		margin-bottom: 20px;
	}
	.design h3.services-title {
	    font-size: 40px;
	    line-height: 1.2;
	    margin-bottom: 30px;
	}
	.section-toggle__link {
	    font-size: 20px;
	    line-height: 24px;
	}
	.format-views__item .format-views__item{
		.format-views__txt {
		    padding-right: 50px;
		}
	    &:last-child{
	    	.format-views__txt{

	    		padding-right: 0;
	    	}
	    }
	}
	.news-in__col {
	    padding-right: 50px;
	}
	.index-links__txt {
	    font-size: 28px;
	}
	.index-links__item{
		&:first-child{
			.index-links__txt{

				&:before{
					right: calc(100% + 10px);
				}
				&:hover{
					&:before{
						right: calc(100% + 15px);
					}
				}
			}
		}
		&:last-child{
			.index-links__txt{

				&:after{
					left: calc(100% + 10px);
				}
				&:hover{
					&:after{
						left: calc(100% + 15px);
					}
				}
			}
		}
	}
	.blog-item {
		padding-right: 20px;
	}
	.blog-wrap{
		margin-right: -20px;
	}
	.techno__pre{
		.get-in {
			width: 160px;
			height: 160px;
		}
		.get-in__txt {
			font-size: 24px;
			line-height: 1.2;
		}
		.get-in__icon {
			margin: 0 8px 0 -25px;
			width: 80px;
			height: 80px;
			img{
				max-width: 100%;
				max-height: 100%;
			}
		}
	}
	
}

@media screen and (max-width: 1200px){
	.indent{
		padding-left: 0;
		padding-right: 0;
	}
	.news,
	.more{
	    padding: 30px;
	}
	.more__num {
	    font-size: 60px;
	}
	.news-cutting{
		font-size: 28px;
	}
	.page-work__in {
	    padding: 15px;
	}
	.page-work__item {
	    height: 300px;
	}
	.roadmap__in {
	    padding: 30px;
	}
	.price {
	    padding: 30px;
	}
	.price__item{
		width: 100%;
		margin-bottom: 20px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.price-wrap{
		flex-wrap: wrap;
	}
	.support{
		padding: 15px; 
	}
	.support ol li {
	    padding-left: 40px;
	}
	.design{
		padding: 30px;
	}
	.plan{
		padding: 30px;
	}
	.p-roadmap {
	    padding: 30px;
	}
	.dest{
		padding: 30px;
	}
	.link-case__in{
		padding: 50px 30px;
	}
	.structure {
	    padding: 30px;
	}
	.plan.m-autodealer{
		padding: 30px;
	}
	.design.m-index{
		padding: 30px;
	}
	.index-links {
	    padding: 0 75px;
	}
	.top-nav__item {
		font-size: 20px;
		margin-right: 20px;
		&:last-child{
			margin-right: 0;
		}
	}
	.submenu__link{
		font-size: 20px;
	}
	.template .order__txt.m-full {
		padding: 15px;
	}
	.order__txt__in {
		font-size: inherit;
	}
	.template-outwards{
		margin-right: -33px;
	}
	.template-outwards__item {
		max-width: 500px;
		img{
			max-width: 100%;
		}
	}
	.index-news {
		padding: 30px;
	}
	.top-logo {
		margin-top: 15px;
	}
	.top-logo-msg {
		font-size: 20px;
		margin-left: 50px;
	}
	.index-top-services__title {
		font-size: 24px;
	}
	.index-top-services__title:before {
		left: -31px;
		top: 9px;
	}
	.index-top-services__item {
		margin-bottom: 20px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.index-top-slider-view__txt {
		font-size: 24px;
	}
	.index-top-services {
		width: 350px;
		min-width: 350px;
	}
	.index-top-info {
		padding-right: 60px;
	}
	.techno__pre .get-in {
		right: -25px;
	}
	.modern__txt {
		font-size: 20px;
		line-height: inherit;
	}
	.modern__txt:before {
		width: 100px;
		height: 100px;
	}
	.cases-more__title {
		font-size: 28px;
	}
	.realize__list{
		padding-left: 0;
	}
	.realize{
		margin-bottom: 60px;
	}
	.plan{
		&.m-optimal{
			padding: 30px;
		}
	}
	.optimal-img__more {
		margin-left: 30px;
		font-size: 20px;
	}
	.top-nav__link {
		padding-top: 20px;
	}
	.methodology.m-grey {
		padding: 20px;
	}
	.s-modern {
		padding-left: 0;
	}
	.s-settings {
		padding: 30px 0 0;
	}
}

@media screen and (max-width: 1150px){
	.section-wrap{
		flex-wrap:wrap;
	}
	.section-prev {
	    width: 100%;
	    min-width: 100%;
	    margin-bottom: 20px;
	}
	.section-list{
		padding-left: 0;
		width: 100%;
	}
	.section-list.m-slider{
		display: block;
		overflow: visible; 
	}
	.recommend-slider-wrap {
	    padding-left: 0;
	}
	.design.m-index .section-prev {
	    width: 100%;
	    min-width: 100%;
	}
	.work__link {
	    display: inline-block;
	    margin-bottom: 20px;
	}
	.section-toggle {
	    margin: 0 20px 0 0;
	    padding: 25px 25px 65px 145px;
	}
	.section-toggle__num {
	    font-size: 440px;
	    line-height: 0.96;
	}
	.design.m-index {
	    padding: 30px 30px 20px;
	}
}

@media screen and (max-width: 1100px){
	.methodology-bottom__item.m-stage:after{
		width: 24px;
		height: 34px;
		background: #E4B200;
	}
	.methodology-bottom__item.m-stage {
	    min-width: inherit;
	    min-height: inherit;
	    padding-bottom: 0;
	    margin-bottom: 0;
	    padding-bottom: 40px;
	    text-align: left;
	    margin-right: 0;
	    padding-right: 30px;
	}
	.methodology-bottom__item{
		max-width: 25%;
		width: 25%;
	}
	.stage-inner {
	    left: 0;
	}
	.methodology-bottom {
	    margin-top: 20px;
	}
	.methodology-top__item:first-child {
	    max-width: 50%;
	    width: 50%;
	    margin-right: 10px;
	}
	.methodology-top__item:last-child {
		max-width: 50%;
	    width: 50%;
	    margin-left: 10px;
	}

	.analysis__list {
	    width: 50%;
	    min-width: 50%;
	    columns: 1;
	}
	.sq__msg {
	    width: 400px;
	}
	.templates-centered {
	    margin: 0 -60px 20px -30px;
	}
	.templates-centered__item{
		padding-right: 30px;
	}
	.cases-toggle__item {
	    padding: 3px 5px;
	    font-size: 16px;
	    line-height: 30px;
	}
	.blog-item.m-complex .blog-wrapper{
		flex-wrap:wrap;
	}
	.blog-item.m-complex .blog-in {
		padding-right: 0;
		width: 100%;
		margin-bottom: 20px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.index-news__msg {
		font-size: 115px;
	}
	.methodology-bottom__item.m-stage .methodology-bottom__txt {
		bottom: -31px;
		font-size: 18px;
	}
	.modern__item {
		margin-bottom: 85px;
		padding: 0 25px 0 57px;
	}
	.modern__list{
		margin-right: 0;
	}
}

@media screen and (max-width: 1024px){
	.container-fluid{
		padding-left: 20px;
		padding-right: 20px;
	}
	.top-nav__item {
	    font-size: 20px;
	    margin-right: 15px;
		
	    &:last-child{
	    	margin-right: 0;
	    }
	}
	.top-nav__link{
		padding-top: 19px;
	}
	.workarea h1{
		font-size: 40px;
	}
	.incut__inner {
	    font-size: inherit;
	    line-height: inherit;
	}
	.process__wrap{
		flex-wrap:wrap;
	}
	.process__info {
	    margin-right: 0;
	    margin-bottom: 20px;
	    width: 100%;
	}
	.process-view {
	    width: 100%;
	    max-width: 100%;
	}
	.store__txt {
	    font-size: 20px;
	    line-height: 24px;
	}
	.design__wrap{
		flex-wrap:wrap;
	}
	.design__item {
	    width: 100%;
	    padding-right: 0;
	    margin-bottom: 20px;
	}
	.design__icon {
	    align-items: flex-start;
	    padding-top: 0;
	    text-align: left;
	}
	.design__wrap{
		margin-right: 0;
	}
	.optimization__item {
	    width: 50%;
	    margin-bottom: 20px;
	}
	.case-top__txt {
	    font-size: 24px;
	    line-height: 32px;
	}
	.case-top{
		padding: 30px;
	}
	.essence {
	    padding: 0;
	}
	.essence__item {
	    font-size: 24px;
	    line-height: 24px;
	}
	.link-case__title {
	    font-size: 30px;
	}
	.link-case{
		.indent{
			position: relative;
			z-index: 2;
		}
	}
	.template__info {
	    width: 300px;
	    min-width: 300px;
		&.m-lg{
			margin-right: 20px;
		}
	}

	.public-sqheme {
	    flex-wrap: wrap;
	    justify-content: center;
	}
	.public-sqheme__img {
	    margin-right: 0;
	    margin-bottom: 90px;
	}
	.public-sqheme__img:after {
	    width: 2px;
	    height: 45px;
	    top: calc(100% + 5px);
	    left: 50%;
	}
	.public-sqheme__img:before{
		left: 50%;
	    top: calc(100% + 58px);
	    transform: translateY(-50%) rotate(90deg);
	    margin-left: -10px;
	    width: 21px;
	    height: 16px;
	    background-size: contain;
	}
	.index-links__txt {
	    font-size: 24px;
	}
	
	.cases-list{
		margin-right: -20px;
	}
	.cases-item{
		padding-right: 20px;
		margin-bottom: 20px;
	}
	.link-case__btn {
	    font-size: 20px;
	    line-height: 24px;
	    padding: 2px 15px;
	}
	.p-news__in{
		padding: 15px;
	}
	.dest__item:before {
	    top: 4px;
	}
	.optimization .order__txt {
	    margin-bottom: 30px;
	}
	.blog-info {
		font-size: 20px;
	}
	.blog-title {
		font-size: 26px;
		margin-bottom: 20px;
	}
	.info-pre.m-half {
		max-width: 100%;
	}
	.index-top-slider-view__title {
		font-size: 30px;
		margin-bottom: 30px;
	}
	.index-top-slider__item {
		padding: 0 10px;
	}
	.index-top-slider .slick-list {
		margin: 0 -10px;
	}
	.index-top-services__item {
		margin-bottom: 10px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.techno__pre{
		display: flex;
		justify-content: space-between;
		align-items: center;
		.get-in{
			position: static;
		}
	}
	.modern__item {
		margin-bottom: 70px;
		width: 33.333%;
	}
	.modern h2,.modern h3{
		margin-bottom: 30px;
	}
	.modern{
		margin-bottom: 0;
	}
	.audit {
		margin: 0 -20px 45px 0;
	}
	.audit-slider__num {
		font-size: 165px;
	}
	.realize__item {
		padding: 0 35px 0 45px;
	}
	.sentence {
		// overflow: hidden;
		.dealer-hint{
			display: none;
		}
	}
	.incut-version__txt {
		font-size: inherit;
		line-height: inherit;
	}
	.t-benefits__item {
		margin-bottom: 40px;
	}
	.t-benefits__title{
		font-size: 30px;
		margin-bottom: 20px;
	}
	.t-benefits__img {
		min-height: 215px;
	}
	.plan{
		&+.recommend{
			padding-top: 0;
		}
	}
	.modern-more-mess{
		font-size: inherit;
	}
	.index-industries h2 {
		font-size: 36px;
	}
	.s-settings__item{
		margin-bottom: 30px;
	}
	.p-roadmap__image {
		margin-top: 0;
	}
	.d-serv__title {
		margin-bottom: 20px;
	}
	.method {
		font-size: inherit;
	}
	.method__title {
		font-size: 24px;
		margin-bottom: 20px;
	}
	.method__img {
		min-height: 350px;
	}
	.plan.m-sqheme {
		padding: 40px;
	}
}

@media screen and (max-width: 992px){
	.news__wrap{
		align-items: flex-start;
	}
	.news-cutting {
	    padding: 20px;
	    height: auto;
	    font-size: 20px;
	}
	.sentence-project{
		margin-bottom: 20px;
	}
	.page-services__title {
	    margin-bottom: 20px;
	}
	.page-services__item {
	    padding-left: 40px;
	    &:before{
	    	top: 3px;
	    }
	}
	.page-services__col.m-lg {
	    width: 100%;
	}
	.page-work__item{
		margin-bottom: 30px;
	}
	.roadmap__item ol li {
	    padding-left: 40px;
	}
	.page-services__txt{
		margin-bottom: 20px;
		font-size: 20px;
    	line-height: 26px;
	}
	.recommend-composite__item{
		width: 100%;
		margin-bottom: 20px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.store{
		padding: 30px; 
	}
	.store__wrap{
		flex-wrap:wrap;
	}
	.store__title{
		min-width: 100%;
		max-width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
	}
	.develop__list{
		flex-wrap:wrap;
	}
	.develop__item {
	    width: 50%;
	    margin-bottom: 20px;
	}
	.sq__msg {
	    width: 100%;
	    left: 0;
	    position: static;
	    margin-top: 40px;
	}
	.develop{
		padding-bottom: 0;
	}
	.plan__item {
	    width: 100%;
	    padding-right: 0;
	    margin-bottom: 20px;
	    &:last-child{
	    	margin-bottom: 0;
	    }
		&:before,
		&:after{
			display: none;
		}
	}
	.plan__list{
		margin-right: 0;
	}
	.plan__title{
		text-align: left;
	}
	.dest__item{
		width: 100%;
	}
	.service-sqheme-top__in {
	    padding: 15px;
	    font-size: inherit;
	    line-height: inherit;
	}
	.k-sqheme__msg{
		    position: static;
	    width: 100%;
	    margin-top: 20px;
	}
	.order{
		flex-wrap:wrap;
	}
	.order__count{
		width: 100%;
		min-width: 100%;
		margin-bottom: 50px;
		    padding: 0;
	}
	.order__txt{
		width: 100%;
	}
	.plan-txt__item{
		margin-bottom: 45px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.arrow-top:before,
	.arrow-top h4:after{
		display: none;
	}
	.plan-top__item.m-j-center{
		margin-bottom: 20px;
	}
	.plan-top.m-center{
		.plan-top__item{
			margin-bottom: 30px;
		}
	}
	.load-img {
	    margin-bottom: 15px;
	}
	.m-dealer__txt {
	    padding-top: 30px;
	}
	.optimization-middle{
		margin-bottom: 30px;
		&:before,
		&:after{
			display: none;
		}
	}
	.cases-toggle{
		.indent{
			display: flex;
			overflow-x: auto;
		}
	}
	.cases-toggle__item {
	    padding: 5px 20px;
	    font-size: 16px;
	    line-height: 25px;
	    margin-right: 5px;
	    white-space: nowrap;
	    &:last-child{
	    	margin-right: 0;
	    }
	}
	.cases-info {
	    padding: 25px 40px;
	}
	.cases__in {
	    min-height: 250px;
	}
	.destination__wrap {
	    margin-right: 0;
	}
	.destination__item {
	    width: 100%;
	    padding-right: 0;
	    margin-bottom: 20px;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
	.sentence-dealer{
		margin-bottom: 20px;
	}
	.p-news__wrap {
	    grid-template-columns: 1fr 1fr;
	}
	.workarea blockquote {
	    font-size: 28px;
	    line-height: 33px;
	}
	.index-links__txt {
	    font-size: 20px;
	}
	.pagination__item {
	    font-size: 20px;
	    line-height: 24px;
	    margin-right: 16px;
	    padding: 5px;
	    &:last-child{
	    	margin-right: 0;
	    }
	}
	.p-news__wrap{
		margin-bottom: 40px;
	}
	.index-links {
	    margin: 0px 0 40px;
	}
	.page-info {
	    font-size: 18px;
	}
	body{
		font-size: 20px;
	}
	.back-section{
		font-size: 20px;
	}
	.workarea ul:not(.slick-dots) li:before {
	    top: 13px;
	}
	.optimization-more__item{
		margin-bottom: 18px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.plan-top__item{
		margin-bottom: 30px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.plan {
	    margin-bottom: 40px;
	}
	.plan-txt {
	    margin-bottom: 20px;
	}
	.optimization-more {
	    padding-top: 0;
	}
	.optimization h3{
		margin-bottom: 20px;
	}
	.m-total{
		margin-bottom: 40px;
	}
	.template {
    	margin-bottom: 40px;
	}
	.template__wrap {
	    margin-bottom: 40px;
	}
	.news-in__col .news-in-media-slider {
	    padding-top: 45px;
	}
	.road-list,
	.optimization__in,
	.plan__txt,
	.plan__title,
	.analysis__add,
	.analysis__item,
	.page-services__txt,
	.methodology-top__item,
	.roadmap__item ol li,
	.process-view__item{
		font-size: inherit;
		line-height: inherit;
	}
	.top-nav__item {
		font-size: 18px;
		margin-right: 10px;
		&:last-child{
			margin-right: 0;
		}
	}
	.submenu__link{
		font-size: 18px;
	}
	.template-outwards-wrap{
		margin-bottom: 40px;
	}
	.index-news{
		margin-bottom: 40px;
	}
	.recommend-more {
		line-height: 1.3;
	}
	.top-nav__link {
		padding-top: 21px;
	}
	.plan-img {
		margin-bottom: 10px;
	}
	.plan-txt__item h4 {
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 900px){
	.index-top-services {
		width: 300px;
		min-width: 300px;
	}
	.index-top {
		padding: 20px;
	}
	.index-video__link {
		font-size: 24px;
	}
	.cases-more__item{
		width: 50%;
		margin-bottom: 30px;
	}
	.optimal-wrap{
		flex-wrap:wrap;
	}
	.optimal-wrap .plan-top__item {
		width: 100%;
	}
	.plan.m-optimal .plan-top__item:first-child {
		padding-right: 0;
	}
	.plan.m-optimal .plan-top__item:last-child {
		padding-left: 0;
		padding-top: 70px;
	}
	.plan.m-optimal .plan-top__item:last-child:before {
		left: 0;
		transform: none;
		top: 8px;
	}
}

@media screen and (max-width: 850px){
	.top-nav__item {
		font-size: 16px;
	}
	.submenu__link{
		font-size: 16px;
	}
	.s-settings__item{
		width: 50%;
	}
	.infogr__pre {
		width: 350px;
		padding: 20px;
	}
}

@media screen and (max-width: 768px){
	.page-title {
	    margin-bottom: 25px;
	}
	.workarea h2 {
	    font-size: 30px;
	}

	.work__wrap{
		flex-wrap:wrap;
	}
	.work__prev {
	    width: 100%;
	    min-width: 100%;
	    margin-bottom: 20px;
	}
	.work__list {
	    padding-left: 0;
	    width: 100%;
	}
	.more,
	.sentence{
		margin-bottom: 40px;
	}
	.work__txt{
		br{
			display: none;
		}
	}
	.news__wrap{
		flex-wrap:wrap;
	}
	.news__list{
		width: 100%;
	}
	.news__video{
		width: 100%;
	}
	.news__video__in{
		width: 100%;
	}
	.menu-btn{
		display: inline-block;
		vertical-align: middle;
	}
	.top-nav{
		// display: none;
		position: fixed;
		top: 0;
		left: 0;
		// background: #fff;
		height: 100%;
		width: 100%;
		min-height: 100vh;
		max-height: 100vh;
		overflow-x: hidden;
		overflow-y: auto;
		z-index: 5;
		padding: 90px 15px 40px;
    	pointer-events: none;
		flex-direction: column;
		align-items: flex-start;
		&:before{
			content: '';
		    position: absolute;
		    top: 0;
		    left: 0;
		    right: 0;
		    bottom: 0;
		    background: #fff;
		    -webkit-transform: translate3d(0,-100%,0);
		    transform: translate3d(0,-100%,0);
		    transition: transform 0.5s ease-in-out,-webkit-transform 0.5s ease-in-out;
		}
		&.active{
			pointer-events: all;
		    -webkit-transform: none;
		    transform: none;
			&:before{
				-webkit-transform: none;
    			transform: none;
			}
			.top-nav__item{
				will-change: opacity;
				opacity: 1;
				
			}
			.top-nav__item {
				&:nth-child(1){
					transition-delay: .08s!important;
				}
				&:nth-child(2){
					transition-delay: .16s!important;
				}
				&:nth-child(3){
					transition-delay: .24s!important;
				}
				&:nth-child(4){
					transition-delay: .32s!important;
				}
				&:nth-child(5){
					transition-delay: .40s!important;
				}
				&:nth-child(6){
					transition-delay: .48s!important;
				}
				&:nth-child(7){
					transition-delay: .56s!important;
				}

				
			}
		}

	}
	.top-nav__item {
	    margin-right: 0;
		margin-bottom: 10px;
		font-family: 'circe-bold';
		font-size: 32px;
		line-height: 38px;
		position: relative;
		opacity: 0;
		display: flex;
		align-items: center;
		flex-wrap:wrap;
		-webkit-transition: opacity .4s cubic-bezier(.165,.84,.44,1);
				transition: opacity .4s cubic-bezier(.165,.84,.44,1);
		&:nth-child(1){
			transition-delay: .30s!important;
		}
		&:nth-child(2){
			transition-delay: .25s!important;
		}
		&:nth-child(3){
			transition-delay: .20s!important;
		}
		&:nth-child(4){
			transition-delay: .15s!important;
		}
		&:nth-child(5){
			transition-delay: .1s!important;
		}
		&:nth-child(6){
			transition-delay: .02s!important;
		}
		&:nth-child(7){
			transition-delay: .0s!important;
		}
	    &:last-child{
	    	margin-bottom: 0;
	    }
		.top-nav__link{
			&:after{
				display: none;
			}
		}
		&.m-sub{
			.top-nav-toggle{
				display: inline-block;
			}
		}
	}
	.more__num {
	    font-size: 40px;
	}
	.incut{
		margin-bottom: 18px;
	}
	.process-view__analitic:after{
		display: none;
	}
	.process-view__col{
		flex-wrap:wrap;
	}
	.process-view__develop{
		display: none;
		width: 100%;
		height: auto;
		margin-right: 0;
		margin-bottom: 5px;
		&.m-mobile{
			display: block;
		}
	}
	.process-view__complex{
		width: 100%;
	}
	.process-view__list{
		flex-wrap:wrap;
	}
	.process-view__item{
		width: 100%;
		margin-bottom: 10px;
		position: relative;
		padding-right: 0!important;
		&:after {
		    display: none!important;
		}
		&:last-child{
			&:after{
				display: none;
			}
		}
		br{
			display: none;
		}
	}
	.process-view__develop .process-view__list {
	    padding-left: 0;
	    height: auto;
	}
	.process-view__develop:after,
	.process-view__design:before,
	.process-view__start:before{
		display: none;
	}
	.process-view__design .process-view__item:after{
		transform: rotate(0);
	}
	.process{
		margin-bottom: 40px;
	}
	.recommend{
		padding-top: 0;
	}
	.services-list {
	    margin-right: 0;
	    flex-wrap:wrap;
	}
	.services-item {
	    padding-right: 0;
	    width: 100%;
	    margin-bottom: 20px;
	}
	.page-services__list{
		flex-wrap:wrap;
		margin-right: 0;
	}
	.page-services__col {
	    width: 100%;
	    padding-right: 0;
	    margin-bottom: 20px;
	    &:last-child{
			margin-bottom: 0;
	    }
	}
	.page-services__item{
		margin-bottom: 20px;
		&:last-child{
			margin-bottom: 0;
	    }
	}
	.incut{
		&+br{
			display: none;
			&+br{
				display: none;
				&+br{
					display: none;
				}
			}
		}
	}
	.page-services__title {
	    font-size: 26px;
	}
	.page-services__pre,
	.store__txt{
	    font-size: inherit;
	    line-height: inherit;
	}
	.page-services{
		padding: 0; 
	}

	.roadmap__list{
		margin-right: 0;
		flex-wrap:wrap;
	}
	.roadmap__item {
	    padding-right: 0;
	    width: 100%;
	    margin-bottom: 20px;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
	.roadmap__in {
	    padding: 20px;
	}
	.price__count {
	    font-size: 30px;
	    line-height: 1;
	}
	.page-work__in {
	    background-position: right bottom;
	}
	.methodology-top{
		flex-wrap:wrap;
	}

	.methodology-top__item:first-child {
	    max-width: 100%;
	    width: 100%;
	    margin-right: 0;
	    margin-bottom: 10px;
	    padding: 15px; 
	}
	.methodology-top__item:last-child {
	    max-width: 100%;
	    width: 100%;
	    margin-left: 0;
	    padding: 15px;
	}
	.methodology-bottom {
	    border-bottom: 0;
	    align-items: flex-start;
	    flex-wrap:wrap;
	    padding-left: 0;
	}

	.methodology-bottom__item {
	    max-width: 100%;
	    width: 100%;
	    padding-left: 50px;
	    padding-bottom: 0;
	    margin-bottom: 30px;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
	.methodology-bottom__item.m-stage {
	    padding-bottom: 0;
	    margin-bottom: 30px;
	    padding-bottom: 0;
	    text-align: left;
	    margin-right: 0;
	    padding-right: 0;
	    width: 100%;
	        justify-content: flex-start;
	}
	.stage-inner{
		max-width: 100%;
		margin: 0;
	}
	.methodology-bottom__item:after {
	    width: 30px;
	    height: 5px;
	    left: 0;
	    bottom: auto;
	    top: 9px;
	}
	.methodology-bottom__item.m-stage:after{
		width: 30px;
	    height: 5px;
	}
	.digital{
		padding-top: 0;
		margin-bottom: 40px;
	}
	.recommend-composite{
		padding-top: 0;
	}
	.analysis__wrap{
		flex-wrap:wrap;
	}
	.analysis__list {
	    width: 100%;
	    min-width: 100%;
	    margin-bottom: 20px;
	}
	.analysis__add {
	    padding-left: 0;
	    width: 100%;
	}
	.format__list{
		margin-right: 0;
	}
	.format__item{
		width: 100%;
		padding-right: 0;
		margin-bottom: 20px;
	}
	.format__txt{
		font-size: 20px;
		line-height: 24px;
	}
	.case-top{
		margin-bottom: 40px;
	}
	.plan-top {
	    margin-bottom: 40px;
	}
	.p-roadmap__wrap{
		padding-top: 0;
		margin-bottom: 40px;
	}
	.team__item {
	    width: 50%;
	}
	.team__person {
	    font-size: 20px;
	    line-height: 24px;
	}

	.service-sqheme-top{
		margin-right: 0;
		flex-wrap:wrap;
	}
	.service-sqheme-top__item {
	    width: 100%;
	    padding-right: 0;
	    margin-bottom: 20px;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
	.link-case__in{
		margin-bottom: 40px;
	}
	.template__info {
	    width: 100%;
	    min-width: 100%;
	    padding-right: 0;
	    margin-bottom: 20px;
		&.m-lg{
			width: 100%;
			min-width: 100%;
		}
	}
	.template__wrap{
		flex-wrap:wrap;
	}
	.plan.m-style:after {
	    display: none;
	}
	.template__info__item{
		margin-bottom: 18px;
	}
	.another{
		flex-wrap:wrap;
	}
	.another__count{
		margin-right: 0;
		margin-bottom: 20px;
	}
	.another__txt {
	    width: 100%;
	    max-width: 100%;
	}

	.template__img__items {
	    flex-wrap: wrap;
	}
	.templates-centered {
	    margin: 0 0 20px 0;
	    flex-wrap:wrap;
	}
	.templates-centered__item{
		padding-right: 0;
		width: 100%;
		flex-basis: 100%;
	}

	.ecosystem {
	    max-width: 100%;
	}
	.ecosystem__in {
	    padding: 10px;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}
	.ecosystem__item {
	    font-size: 20px;
	    line-height: 24px;
	}
	.road-list ol {
	    columns: 1;
	}
	.optimization__list.m-smart{
		margin-right: 0;
		flex-wrap:wrap;
	}
	.optimization__list.m-smart .optimization__item {
	    width: 100%;
	    padding-right: 0;
	    margin-bottom: 20px;
	    &:after{
	    	display: none;
	    }
	}
	.smart__txt {
	    font-size: 60px;
	    line-height: 1;
	}
	.cases-list {
	    margin-right: 0;
	}
	.cases-item {
	    width: 100%;
	    padding-right: 0;
	}
	.cases__in {
	    min-height: 350px;
	}
	.sentence-dealer.m-wrap .dealer-link {
	    margin-right: 0;
	    padding-right: 20px;
	    width: 50%;
	    text-align: center;
	}
	.dealer-link img {
	    display: inline-block;
	}
	.plan.m-autodealer h3 {
	    margin-bottom: 20px;
	}
	.plan.m-autodealer .platform-img{
		margin-bottom: 20px;
	}
	.destination{
		margin-bottom: 40px;
	}
	.destination__title {
	    font-size: 24px;
	    line-height: 30px;
	}
	.design.m-index .services-link:after {
	    bottom: -15px;
	    right: -15px;
	}
	.design.m-index .services-info {
	    padding-right: 0;
	}
	.design.m-index .section-title{
		br{
			display: none;
		}
	}
	.page-footer{
		padding: 40px 0;
	}
	.page-footer__link {
	    font-size: 18px;
	    line-height: 22px;
	    margin-right: 20px;
	    &:last-child{
	    	margin-right: 0;
	    }
	}
	.page-footer__item{
		margin-right: 20px;
	}
	.page-footer__nav{
		margin-bottom: 0;
	}
	.copyright {
	    font-size: 16px;
	    line-height: 20px;
	    margin-right: 0;
	}
	.page-footer__wrap{
		align-items: flex-end;
	}
	.show-link{
		padding-left: 57px;
	}
	.page-footer__nav,
	.page-footer__add{
	    margin-right: 0;
	}
	.presentation,
	.show-link{
	    margin-right: 0;
	    max-width: 100%;
	        min-width: 100%;
	    min-height: 50px;
	    margin-bottom: 10px;
	    display: flex;
    	align-items: center;
	    &:before{
		    top: 50%;
		    transform: translateY(-50%);
	    }
	}
	.index-links {
	    padding: 0 75px;
	}
	.index-links__wrap{
		margin-right: 0;
	}
	.index-links__item {
	    width: 100%;
	    padding-right: 0;
	    margin-bottom: 20px;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
	.cases-toggle{
		position: static;
	}
	.cases-toggle__separate {
	    height: 20px;
	}
	.presentation:before{
		width: 43px;
    	height: 51px;
    	background-size: contain;
	}
	.show-link:before {
	    width: 43px;
	    height: 43px;
	    background: url(../img/svg/pl.svg) 14px 11px no-repeat;
	}
	.process-view__analitic .process-view__item:after{
		display: none;
	}
	.cases-toggle,
	.cases-top{
		display: none;
	}
	.cases-toggle{
		&.m-filter{
			display: flex;
			flex-wrap: nowrap;
			align-items: flex-start;
			overflow-x: auto;
			margin: 0 -20px 20px;
    		padding: 0 20px;
			.cases-toggle__item{
				white-space: nowrap;
				margin-bottom: 0;
			}
		}
	}
	.cases-list{
		&.m-cases{
			margin:0 0 40px;
		}
	}
	.cases-toggle.m-filter::-webkit-scrollbar {
	        opacity: 0;
    	visibility: hidden;
	    width: 0;
	    height: 0;
	    background: transparent;
	}
	.cases-toggle.m-filter::-webkit-scrollbar-thumb {
	    background: transparent;
	        opacity: 0;
    	visibility: hidden;
	    width: 0;
	    height: 0;
	}
	.process-view__start,
	.process-view__design,
	.process-view__analitic,
	.process-view__develop{
		padding: 15px;
	}
	.show-link:after,
	.presentation:after{
		display: none;
	}
	.news-in{
		flex-wrap:wrap;
		flex-direction: column;
		padding-top: 0;
		overflow: hidden;
	}
	.news-in-media-slider {
	    padding-top: 20px;
	}
	.news-in__aside{
		width: 100%;
		min-width: 100%;
		order: 2;
		margin-bottom: 20px;
	}
	.news-in__col {
	    padding-right: 0;
	    order: 1;
	    overflow: hidden;
	        width: 100%;
	}
	.news-in-media-slider .slick-list {
	    margin: 0;
	}
	.news-in-media-slider.slick-initialized{
		display: block;
	}
	.news-in.m-vertical .news-in__aside {
	    padding-top: 0;
	}
	.aside-item{
		padding-top: 30px;
	}
	.aside-item__img {
	    margin-top: 0;
	}
	.index-links__txt.m-more {
	    text-align: center;
	    justify-content: center;
	}
	.cases-toggle{
		&.m-page{
			display: flex;
			white-space: nowrap;
			flex-wrap: nowrap;
			align-items: flex-start;
		    overflow-x: auto;
		    margin: 0 -20px 20px;
		    padding: 0 20px;
		    .cases-toggle__item{
		    	margin-bottom: 0;
		    }
		}
	}
	.cases-toggle.m-page::-webkit-scrollbar {
	        opacity: 0;
    	visibility: hidden;
	    width: 0;
	    height: 0;
	    background: transparent;
	}
	.cases-toggle.m-page::-webkit-scrollbar-thumb {
	    background: transparent;
	        opacity: 0;
    	visibility: hidden;
	    width: 0;
	    height: 0;
	}
	.news-in.m-last{
		padding-top: 40px;
	}
	.back-section {
	    margin: 20px 0;
	}
	.news-in-media-slider .slick-list{
		order: 1;
	}
	.view-link-wrap{
		margin-bottom: 30px;
	}
	.news-in-media-slider .slick-dots{
		order: 2;
		justify-content: center;
	    margin: 20px 0 0;
	    padding-bottom: 0;
	}
	.news-in-media{
		margin-bottom: 40px;
	}

	.workarea p{
		margin-bottom: 18px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.news-in__col p,.news-in__col li{
		margin-bottom: 18px;
		font-size: 18px;
	}
	.optimization-more {
	    padding-top: 0;
	}
	.road-list ol li:before {
	    top: 1px;
	    font-size: 20px;
	}
	.dest__item:before {
	    top: 2px;
	}
	.optimization img{
		margin-bottom: 30px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.page-info{
		padding-right: 0;
	}
	.news-in__col .news-in-media-slider {
	    padding-top: 10px;
	}
	.dealer-hint{
		display: none;
	}
	.view-link-wrap{
		display: inline-block;
		a{
			margin-left: 5px;
		}
	}
	.template__wrap.m-half .template__info {
	    width: 100%;
	    min-width: 100%;
	}
	.work__title{
		br{
			display: none;
		}
	}
	.page-title{
		br{
			display: none;
		}
	}
	body{
		font-size: 20px;
	}
	.workarea{
		line-height: 1.1;
	}
	.blocks ol li{
		line-height: 1.1;
	}
	.workarea ul:not(.slick-dots) li:before {
		top: 9px;
	}
	.support ol li {
		font-size: 20px;
		line-height: 1.1;
	}
	.propose {
		font-size: inherit;
		line-height: inherit;
	}
	.p-roadmap__txt{
		font-size: inherit;
		line-height: inherit;
	}
	.blog-wrap {
		margin-right: 0;
	}
	.blog-item {
		padding-right: 0;
		margin-bottom: 30px;
	}
	.blog-wrap {
		column-count: 1;
	}
	.blog-item .aside-item.m-flex{
		padding-top: 0;
	}
	.blog-in {
		padding-bottom: 20px;
	}
	.blog-more {
		padding-top: 0;
	}
	.blog-title,
	.blog-item.m-complex .blog-title {
		font-size: 24px;
	}
	.news-in.m-blog .blog-item {
		width: 100%;
	}
	.page-header__wrap {
		padding: 20px 0;
		align-items: center;
	}
	.top-logo{
		margin-top:0;
	}
	.top-nav__link{
		padding-top: 0;
	}
	.top-nav__item.active .top-nav__link{
		border-top: 2px solid transparent;
	}

	.submenu{
		opacity: 1;
		visibility: visible;
		pointer-events: all;
		padding: 20px 0;
		position: static;
		display: none;
		width: 100%;
    	box-shadow: none;
	}
	.submenu__link{
		font-size: 22px;
	}

	.top-nav__item{
		&.m-sub{
			&:hover{
				.top-nav__link{
					color: #E4002B;
				}
			}
			&.toggled{
				.top-nav__link{
					color: #141414;
				}
				.top-nav-toggle{
					background: url(../img/svg/sub-h.svg) center no-repeat;
					background-size: 17px 17px;
					transform: rotate(180deg);
				}
			}
			.top-nav__link{
				&:after{
					display: none;
				}
			}
			&.active{
				&:hover{
					.top-nav__link{
				
						color: #141414!important;
				
					}
				}
				
				.top-nav-toggle{
					background: url(../img/svg/sub-h.svg) center no-repeat;
					background-size: 17px 17px;
				}
			}
		}
	}
	.submenu__link,
	.top-nav__link{
		&:hover{
			color: #E4002B;
		}
	}
	.blocks ol li{
		font-size: inherit;
	}
	.blocks ol li:before{
		top: -1px;
	}
	.complex-img__item{
		margin-bottom: 50px;
		&:after{
			display: none;
		}
		&:last-child{
			margin-bottom: 0;
		}
	}
	.techno__wrap {
		margin: 0 -45px 0 0;
	}
	.info-pre.m-half {
		max-width: 100%;
	}
	.page-services__list.m-task .page-services__col {
		width: 100%;
	}
	.page-services__list.m-task {
		margin-bottom: 30px;
	}
	.template__img {
		width: 100%;
		min-width: 100%;
	}
	.template__img__item.m-centered,
	.optimization-more__item.m-centered{
		justify-content: flex-start;
	}
	.info-pre{
		&:last-child{
			margin-bottom: 0;
		}
	}

	.order__txt{
		+br{
			display: none;
		}
	}

	.template-outwards {
		margin-right: 0;
		flex-wrap:wrap;
	}
	.template-outwards__item{
		padding-right: 0;
		width: 100%;
		margin-bottom: 20px;
		max-width: 100%;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.template-half-wrap{
		margin-bottom: 40px;
	}
	.page-footer-sub__link {
		font-size: 16px;
	}
	.index-news{
		margin-bottom: 40px;
	}
	.index-news__inner{
		flex-wrap:wrap;
		margin-bottom: -30px;
	}
	.index-news__item{
		width: 50%;
		margin-bottom: 30px;
	}
	.index-news__msg {
		font-size: 115px;
	}
	.index-news__msg {
		font-size: 64px;
	}
	.index-blog .blog-wrap {
		flex-wrap: wrap;
	}
	.index-blog-col{
		width: 100%;
	}
	.index-top{
		margin-bottom: 40px;
	}
	.index-top__wrap{
		flex-wrap:wrap;
	}
	.index-top-info {
		padding-right: 0;
		flex: inherit;
		width: 100%;
		margin-bottom: 30px;
	}
	.index-top-services {
		width: 100%;
		min-width: 100%;
		padding-left: 30px;
	}
	.cases-index .cases-item{
		margin-bottom: 20px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.industries-slider{
		padding-left: 20px;
	}
	.index-industries h2 {
		font-size: 36px;
		margin-bottom: 20px;
	}
	.methodology-bottom__txt{
		display: none;
	}
	.techno__pre{
		flex-wrap:wrap;
		min-height: 100px;
    	align-items: flex-start;
		span{
			display: block;
			width: 100%;
			padding-right: 160px;
		}
	}
	.techno__pre .get-in {
		position: absolute;
		top: -50px;
	}
	.techno__pre {
		font-size: 24px;
	}
	.techno__item {
		padding-right: 25px;
	}
	.techno__wrap {
		margin: 0 -25px 30px 0;
	}
	.modern h2,.modern h3{
		margin-bottom: 30px;
	}
	.modern__item{
		width: 50%;
	}
	.audit-slider__txt {
		font-size: 22px;
	}
	.cases-more{
		margin-bottom: 40px;
	}
	.plan{
		.plan-img {
			margin-bottom: 20px;
			height: 80px;
			width: 100px;
			img{
				max-height: 100%;
			}
		}
	}
	.t-benefits__title {
		font-size: 24px;
	}
	.t-benefits__img {
		min-height: auto;
		height: 200px;
		margin-bottom: 20px;
	}
	.three-in-row{
		width: 50% !important;
	}
	.case-compare__img.m-right{
		display: block;
	}
	.template__wrap.m-proto .template-outwards {
		margin-left: 0;
	}
	.cases-more__item {
		padding-right: 20px;
		padding-bottom: 20px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.methodology{
		margin-bottom: 40px;
	}
	.s-modern__list{
		column-count:1;
	}
	.s-settings__list {
		margin-bottom: 0;
		
	}
	.s-settings__item{
		font-size: inherit;
		padding-left: 40px;
		&:before{
			width: 30px;
			height: 30px;
			top: -5px;
			background-size: cover;
		}
	}
	.d-serv__title {
		margin-bottom: 15px;
	}
	.d-serv__item{
		margin-bottom: 30px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.method__item {
		width: 100%;
		padding: 0;
		margin-bottom: 30px;
	}
	.method__list {
		margin: 0 0 40px;
	}
	.method__img {
		min-height: initial;
	}
	.incut__inner{
		&.m-pre{
			padding-left: 82px;
			.incut-version__icon{
				width: 62px;
			}
		}
	}
	.page-title h1{
		br{
			display: none;
		}
	}
	.infogr__img {
		margin-top: 30px;
	}
}

@media screen and (max-width:700px){
	.section-toggle {
		width: 100%;
	    margin: 30px 0;
	    padding: 0px 0px 65px 110px;
	}
	.design.m-index .services-item{
		margin-bottom: 0;
	}
	.design.m-index .services-link:after {
	    margin-top: 20px;
	}
	.section-toggle__num {
	    font-size: 300px;
	    line-height: 1;
	    top: -60px;
	}
	.design h3.services-title {
	    font-size: 34px;
	    margin-bottom: 15px;
	}
}

@media screen and (max-width:650px){
	.techno__item {
		width: 50%;
		display: inline-flex;
		img{
			max-width: 100%;
		}
	}
}

@media screen and (max-width:600px){
	.recommend-slider__link {
	    font-size: 18px;
	    line-height: 22px;
	    padding-right: 50px;
	    position: relative;
	    display: block;
	    width: 100%;
	    &:hover{
	    	&:after{
	    		transform: translateY(-50%) translate3d(0,0,0);
	    	}
	    }
	}
	.recommend-slider__link:after {
	       width: 41px;
	    height: 10px;
	    background: url(../img/svg/r-arr-lg.svg) no-repeat;
	    background-size: contain;
	    margin: 0;
	    position: absolute;
	    top: 50%;
	    transform: translateY(-50%);
	    right: 0px;
	    margin-top: -2px;
	}
	.section-toggle {
	    padding: 0px 0px 65px 60px;
	}
	.p-news__wrap {
	    grid-template-columns: 1fr;
	}
	.p-news__in{
		min-height: 180px;
	}
	.p-news__item.m-high .p-news__add{
		padding-top: 20px;
	}
	.p-news {
	    padding-bottom: 40px;
	}
	.format-views{
		flex-wrap:wrap;
	}
	.format-views__item{
		width: 100%;
		max-width: 100%;
	}
	.format-views__item{
		.format-views__txt{
			padding-right: 0;
			padding-bottom: 80px;
			&:after {
			    top: auto;
			    right: 50%;
			    transform: translateX(50%) rotate(90deg);
			    bottom: 35px;
			}
		}
		&:last-child{
			.format-views__txt{
				padding-bottom: 0;
				&:after{
					display: none;
				}
			}
		}
	}
	.format__img{
		height: auto;
	}
	.page-info {
	    font-size: 16px;
	}
	.page-back:before{
		margin-right: 10px;
	}
	.page-back,
	.page-label{
	    margin-right: 15px;
	}
	.page-label{
		padding: 5px 10px;
	}
	.index-news__inner{
		margin: 0 0 -20px;
	}
	.index-news__item {
		width: 100%;
		padding: 0;
		margin-bottom: 20px;
	}
	.index-top-slider {
		margin-bottom: 30px;
	}
	.index-top-slider-view__txt{
		font-size: inherit;
	}
	.index-top-services__title {
		font-size: 20px;
	}
	.index-video__link {
		font-size: 20px;
		br{
			display: none;
		}
	}
	.index-video__link:before {
		width: 75px;
		min-width: 75px;
		height: 75px;
		background: url(../img/svg/play.svg) no-repeat;
		background-size: contain;
		margin-right: 10px;
	}
	.industries-slider{
		padding-right: 0;
    	margin-bottom: 30px;
		// .slick-list{
		// 	transform: none;
		// }
		// .slick-track{
		// 	width: 100%!important;
		// 	transform: none!important;
		// }
		.slick-list{
			overflow: hidden;
		}
	}
	.index-industries{
		padding-top: 0;
	}
	.industries__cat {
		font-size: 26px;
		font-weight: 700;
		color: #e4002b;
		margin-bottom: 15px;
	}
	.industries__item {
		padding-right: 0;
		height: auto;
		width: 100%;
		margin-bottom: 30px;
		&:last-child{
			margin-bottom: 0;
		}
		// &.slick-cloned{
		// 	display: none;
		// }
	}
	.industries__txt {
		max-width: 100%;
		font-size: 20px;
		width: 100%;
		position: static;
		opacity: 1;
	}
	.industries-slider{
		padding-left: 0;
	}
	.industries-slider .slick-list{
		padding:0!important;
	}
	.get-in__txt {
		font-size: 26px;
	}
	.get-in {
		width: 170px;
		height: 170px;
	}
	
	.realize__item{
		width: 100%;
		padding-right: 0;
	}
	.incut-version__icon {
		width: 38px;
		img{
			max-width: 100%;
		}
	}
	.incut-version__txt {
		font-size: 16px;
		max-width: 100px;
	}
	.incut-version:before {
		width: 70px;
		height: 70px;
		top: -7px;
	}
	.incut__inner.m-include {
		padding-right: 155px;
	}
	.plan.m-optimal .plan-top__item:last-child:before {
		width: 60px;
		height: 60px;
		margin-top: 5px;
	}
	.infogr__pre {
		width: 100%;
	}
	.plan .plan-img {
		height: auto;
		width: auto;
	}
	.mobile-target{
		pointer-events: all;
	}
	.cases-more__title {
		margin-bottom: 12px;
	}
}

@media screen and (max-width:576px){
	.page-header{
		margin-bottom: 40px;
	}
	.sentence-dealer{
		flex-wrap:wrap;
	}
	.sentence-dealer__slider{
		margin-bottom: -20px;
	}
	.sentence-dealer__slide{
		flex-wrap:wrap;
	}
	.dealer-link{
		width: 50%;
		margin-bottom: 20px;
		padding: 0 5px;
		height: 60px;
		img{
			max-height: 100%;
    		max-width: 130px;
		}
	}
	.more__item{
		margin-bottom: 20px;
		display: flex;
		align-items: center;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.more__num {
	    margin-right: 15px;
	    margin-bottom: 0;
	    white-space: nowrap;
	}
	.work__item {
	    width: 50%;
	    margin-bottom: 20px;
	}
	.news{
		padding: 20px;
	}
	.news__title {
	    font-size: inherit;
	    line-height: inherit;
	}
	.news__link {
	    padding: 2px 5px 2px 20px;
	}
	.news-cutting__link {
	    width: 70px;
	    min-width: 70px;
	    height: 70px;
	    background-size: contain;
	}
	.news__link:before {
	    width: 13px;
	    height: 13px;
	    background-size: contain;
	    left: 5px;
	}
	.recommend-slider__info {
	    padding-top: 0;
	}
	.recommend-slider__item{
		flex-wrap:wrap;
	}
	.recommend-slider__clutch{
		position: static;
		    transform: none;
	}
	.recommend-slider__top{
		padding-right: 0;
		flex-wrap:wrap;
	}
	.recommend-slider .slick-dots {
	    margin: 30px 0 0 0;
	    padding: 0;
	    justify-content: center;
	}
	.page-work__item {
	    height: 220px;
	}

	.price__txt {
	    font-size: 18px;
	    line-height: 22px;
	}
	.price__count {
	    font-size: 28px;
	    line-height: 1;
	    white-space: nowrap;
	}
	.store__view{
		flex-wrap:wrap;
	}
	.store__item{
		width: 100%;
		margin-right: 0;
		margin-bottom: 30px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.store__icon {
	    margin-bottom: 15px;
	    height: auto;
	}
	.design__item{
		flex-wrap:wrap;
	}
	.design__icon {
	    width: 100%;
	    min-width: 100%;
	    margin-right: 0;
	    margin-bottom: 10px;
	    display: flex;
	    align-items: center;
	    flex-direction: row;
	    justify-content: flex-start;
	    img{
	    	margin-bottom: 0;
    		margin-right: 15px;
	    }
	}
	.develop__item {
	    width: 100%;
	    padding-right: 0;
	}
	.develop__list{
		margin-right: 0;
	}
	.design h3 {
	    margin-bottom: 20px;
	}
	.workarea h3 {
	    font-size: 24px;
	    line-height: 28px;
	}

	.optimization__item {
	    width: 100%;
	    padding-right: 0;
	    text-align: left;
	    margin-bottom: 50px;
	    &:last-child{
	    	&:after{
	    		display: none;
	    	}
	    }
	    &:after{
	    	content: "";
		    width: 36px;
		    height: 12px;
		    background: url(../img/svg/o-arr.svg) no-repeat;
		    background-size: contain;
		    position: absolute;
		    top: calc(100% + 17px);
		    right: 50%!important;
		    transform: translateY(0) translateX(50%) rotate(90deg);
	    }
	}
	.optimization__list{
		margin-right: 0;
	}
	.optimization__in{
		text-align: left;
	}
	.case-top__icon {
	    margin-bottom: 30px;
	    padding: 0 10px;
	}

	.p-roadmap__item{
		min-width: 264px;
		margin-right: 0;
	}

	.link-case__btn{
		display: block;
		width: 100%;
		font-size: 18px;
		padding: 5px 10px;
		text-align: center;
	}
	.link-case__in {
	    padding: 30px 15px;
	}
	.optimization__list.m-complex{
		margin-right: 0;
	}
	.optimization__list.m-complex .optimization__item{
		width: 100%;
		padding-right: 0;
	}
	.template__img__item {
	    margin-bottom: 20px;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
	.order__count {
	    font-size: 48px;
	    line-height: 50px;
	}

	.design__wrap{
		&.m-double{
			.design__item{
				width: 100%;
			}
		}
	}

	.public-sqheme__list__in {
	    margin-right: 0;
	}
	.public-sqheme__list__item {
	    padding-right: 0;
	    width: 100%;
	    
	    margin-bottom: 15px;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	    span{
	    	padding: 15px;
	    }
	}

	.ecosystem__item {
	    width: 50%;
	}
	.m-dealer .ecosystem__item {
	    width: 50%;
	    font-size: 16px;
	}
	.cases-info {
	    padding: 20px;
	}
	.cases__in {
	    min-height: 250px;
		padding-bottom: 0;
	}
	.auto-update__item {
	    margin-right: 0;
	}
	.destination-list{
		flex:1;
	}
	.destination-list__item {
	    margin-right: 0;
	    width: 50%;
	    display: flex;
	    justify-content: center;
	}
	.destination-icon{
		padding: 0 10px;
		display: flex;
    	justify-content: center;
	}
	.destination-b__link {
	    width: 45px;
	    min-width: 45px;
	    height: 45px;
	    &:before{
	    	width: 47px;
    		height: 12px;
    		background-size: contain;
	    }
	}
	.destination__in.m-grey .destination-b__link:before{
		width: 47px;
		height: 12px;
		background-size: contain;
	}
	.index-links__txt {
	    font-size: 20px;
	}
	.index-links__item:last-child .index-links__txt:after{
		margin-left: 20px;
	}
	.index-links__item:first-child .index-links__txt:before{
		margin-right: 20px;
	}
	.work__item img {
	    max-width: 90px;
	    max-height: 60px;
	}
	.index-links__item:last-child .index-links__txt:after {
	    position: static;
	    transform: none;
	}
	.index-links__item:first-child .index-links__txt:before {
	    position: static;
	    transform: translateY(0) rotate(180deg);
	}
	.index-links {
	    padding: 0;
	}
	.page-date{
		display: block;
	    width: 100%;
	    padding-top: 10px;
	}
	.team__top {
	    line-height: 20px;
	}
	.view-link-wrap {
	    display: block;
	}

	.workarea {
	    line-height: 1.4;
	}
	body {
	    font-size: 18px;
	}
	.road-list{
		font-size: 18px;
	}
	.ecosystem__item {
		font-size: 18px;
		line-height: 1.4;
	}
	.blocks ol li,
	.optimization__in{
		line-height: 1.4;
	}
	.workarea ul:not(.slick-dots) li:before {
		top: 10px;
	}
	.support ol li {
		font-size: 18px;
		line-height: 1.4;
	}
	.road-list ol li,
	.workarea ul:not(.slick-dots) li,
	.dest__item{
		padding-left: 40px;
	}
	.modern__item{
		width: 100%;
		padding: 0 0 0 57px;
	}
	.modern__list{
		margin-right: 0;
	}
	.modern__txt:before {
		width: 75px;
		height: 75px;
	}
	.cases-more__list{
		margin-right: 0;
	}
	.cases-more__item{
		padding-right: 0;
		width: 100%;
	}
	.cases-more__icon {
		margin-bottom: 15px;
	}
	.t-benefits__wrap {
		margin-right: 0;
	}
	.t-benefits__item {
		margin-bottom: 20px;
		padding-right: 0;
		width: 100%;
	}
	.modern__txt{
		max-width: 100%;
	}
	.optimal-img__more{
		font-size: 18px;
	}
	.optimal-img__more:before {
		width: 105px;
		height: 105px;
		left: -65px;
	}
	.cases-add {
		bottom: 0px;
		padding: 20px;
		position: relative;
	}
	.cases__title{
		br{
			display: none;
		}
	}
	.three-in-row{
		width: 100% !important;
	}
	.techno__pre .get-in {
		width: 130px;
		height: 130px;
	}
	.techno__pre .get-in__txt {
		font-size: 18px;
	}
	.p-news-link {
		display: inline;
	}
	.s-modern {
		padding-top: 0;
	}
	.s-modern__item{
		margin-bottom: 20px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.s-settings__item{
		width: 100%;
	}
	.t-benefits__img {
		padding: 20px;
	}
}

@media screen and (max-width:500px){
	.page-footer__item {
		margin-right: 0;
		width: 100%;
	}
	.page-footer__b {
		flex-wrap: wrap;
		padding-right: 60px;
	}
	.page-footer-socials {
		display: flex;
		position: absolute;
		bottom: 0;
		right: 20px;
	}
}